@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:wght@200;300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #0f161a;
}

a {
    text-decoration: none;
}

.navbar-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 9999;
    background-color: #0f161a;
}

.fixed {
    transition: 0.3s ease-in-out;

}

.navbar-area h2 {
    font-size: 2rem;
}

.nav .nav-item{
    display: inline-block;
    padding: 0 20px;
    font-size: 1.3rem;
}

.nav .nav-item a {
    transition: all 0.3s ease 0s;
}

.nav .nav-item a:hover {
    color: #538cb1;
}

.navbar-area button {
    font-size: 1.3rem;
    padding: 15px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar-area button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.main-title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2vw;
}

.main-title-area h1,
p {
    margin: 0;
    position: absolute;
    text-shadow: 2px 2px 8px #0b1013;
}

.main-title-area h1 {
    font-size: 6rem;
    letter-spacing: 2px;
    margin-top: 70vh;
}

.main-title-area p {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-top: 90vh;
}

.btn-get-started {
    position: absolute;
    background-color: #0088a9cc;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 50vh;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    transform: translateX(-50%);
}

.btn-get-started:hover {
    opacity: 1;
}

.animation,
.animation-layer {
    height: 1000px;
}

.animation {
    display: block;
    position: relative;
    z-index: 10;
}

.animation-layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.animation-layer.parallax {
    position: fixed;
}

#p-artback {
    background-image: url('./public/img/parallax1.png');
}

#p-first-layer {
    background-image: url('./public/img/parallax2.png');
}

#p-second-layer {
    background-image: url('./public/img/parallax3.png');
}

#p-third-layer {
    background-image: url('./public/img/parallax4.png');
}

#p-fourth-layer {
    background-image: url('./public/img/parallax5.png');
}

.title-area {
    text-align: center;
}

.title-area h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    letter-spacing: 3px;
}

.title-area p {
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.home-text-area h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 15vh;
}

.home-text-area p {
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}