@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:wght@200;300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

body {
    background-color: #0f161a;
}

.animation, .animation-layer {
    height: 1000px;
}

.animation {
    display: block;
    position: relative;
    z-index: 10;
}

.animation-layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.animation-layer.parallax {
    position: fixed;
}

#p-artback {
    background-image: url('./public/img/parallax1.png');
}

#p-first-layer {
    background-image: url('./public/img/parallax2.png');
}

#p-second-layer {
    background-image: url('./public/img/parallax3.png');
}

#p-third-layer {
    background-image: url('./public/img/parallax4.png');
}

#p-fourth-layer {
    background-image: url('./public/img/parallax5.png');
}

.title-area {
    text-align: center;
}

.title-area h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    letter-spacing: 3px;
}

.title-area p {
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

a {
    text-decoration: none;
}
