@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:wght@200;300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #0f161a;
}

a {
    text-decoration: none;
}

.navbar-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 9999;
    background-color: transparent;

    .nav-active {
        background-color: #0f161a;
    }

    h2 {
        font-size: 1.8rem;
    }

    button {
        font-size: 1.3rem;
        padding: 15px 25px;
        background-color: #ffffff;
        opacity: .9;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #0b1013;
    }

    button:hover {
        background-color: #ffffff;
        opacity: 1;
    }
}

.nav-container {
    .nav-item {
        display: inline-block;
        padding: 0 20px;
        font-size: 1.3rem;

        a {
            transition: all 0.3s ease 0s;
        }

        a:hover {
            color: #538cb1;
        }
    }
}


.main-title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2vw;
    padding: 25px;

    h1,
    p {
        margin: 0;
        position: absolute;
        text-shadow: 2px 2px 8px #0b1013;
    }

    h1 {
        font-size: 6rem;
        letter-spacing: 2px;
        margin-top: 70vh;
    }

    p {
        font-family: 'Jost', sans-serif;
        font-size: 2rem;
        letter-spacing: 5px;
        margin-top: 92vh;
        text-transform: uppercase;
    }

    .btn-main {
        position: absolute;
        background-color: #ffff;
        width: 180px;
        height: 60px;
        border: none;
        border-radius: 30px;
        font-size: 1.3rem;
        cursor: pointer;
        margin-top: 53vh;
        opacity: .9;
        color: #0b1013;
        transition: all 0.3s ease 0s;
        transform: translateX(-50%);
    }

    .btn-main:hover {
        opacity: 1;
    }
}

.animation,
.animation-layer {
    height: 1000px;
}

.animation {
    display: block;
    position: relative;
    z-index: 10;
}

.animation-layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.animation-layer.parallax {
    position: fixed;
}

#p-artback {
    background-image: url('./img/moon.png');
}

#p-first-layer {
    background-image: url('./img/stars.png');
}

#p-second-layer {
    background-image: url('./img/mountains_behind.png');
}

#p-third-layer {
    background-image: url('./img/mountains_front.png');
}

.title-area {
    text-align: center;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 5rem;
        letter-spacing: 3px;
    }

    p {
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

.home-text-area {
    h1 {
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 15px;
        margin-top: 5vh;
    }

    p {
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 150px;
        margin-right: 150px;
    }
}

.home-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vh;
}

.card-container {
    display: inline-block;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffff;
    width: 400px;
    max-width: 400px;
    word-break: break-all;
    height: 400px;
    max-height: 400px;
    margin-left: 40px;
    box-shadow: 2px 2px 8px #0b1013;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.card-container:hover {
    transform: scale(1.1);
}

.card-header {
    h3 {
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        color: #0b1013;
        margin-top: 15px;
    }
}

#card-header-1,
#card-header-2,
#card-header-3 {
    margin-top: -2.1vh;
    margin-left: -20px;
    width: 400px;
    border-radius: 10px;
}

#card-header-1 {
    border-top: 10px solid #538cb1;
}

#card-header-2 {
    border-top: 10px solid #2cbd80;
}

#card-header-3 {
    border-top: 10px solid #ffa200;
}